<div class="container-fluid bg-info pt-3 pb-3 text-center text-white text-uppercase"> <h1>Genre</h1></div>
<div class="container pt-5 pb-5">
<div class="row">
<div class="col-md-3" *ngFor=" let genre of genreData | paginate: { itemsPerPage: 6, currentPage: p, totalItems: genreData.length}" 
>
  
  <a [routerLink]="['/games/genre',genre.id,genre.name]" class="text-decoration-none text-dark ">
<div class="card text-center" >
    <img [src]="genre.image_background" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">{{genre.name}}</h5>
    </div>
  </div>
</a>
</div>
</div>
<!-- pagination -->
<div class="row mt-4" >
  <div class="col text-start">
  <pagination-controls (pageChange)="p = $event"
  class='w-100 text-center pt-3'></pagination-controls>
  </div>
  </div>
  
</div>
