<div class="container-fluid bg-info pt-3 pb-3 text-center text-white text-uppercase"> <h1>{{t}}</h1></div>
<div class="container pt-5 pb-5">
    <div class="row">
    <div class="col-md-3" *ngFor=" let movie of movieData  | paginate: { itemsPerPage: 6, currentPage: p, totalItems: movieData.length}
    " >
    
    <div class="card" >
        <img [src]="'https://www.themoviedb.org/t/p/w440_and_h660_face'+movie.poster_path" class="card-img-top " 
        height="300" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview | slice: 0:100}}</p>
          <p class="card-text"><small class="text-muted">Relese date: {{movie.release_date}}</small></p>
          <p class="card-text"><small class="text-muted">Language: {{movie.original_language}}</small></p>
          <a [routerLink]="['/movie',movie.id]" class="btn btn-info">View Details</a>
        </div>
      </div>
    
    </div>
    </div>
    <!-- pagination -->
<div class="row mt-4" >
  <div class="col text-start">
  <pagination-controls (pageChange)="p = $event"
  class='w-100 text-center pt-3'></pagination-controls>
  </div>
  </div>
  
   </div>

