<div class="container-fluid bg-info pt-3 pb-3 text-center text-white text-uppercase"> <h1>{{name}} Games</h1></div>
<div class="container pt-5 pb-5">
<div class="row">
<div class="col-md-3" *ngFor=" let game of gamesData | paginate: { itemsPerPage: 6, currentPage: p, totalItems: gamesData.length}
" >
  <a [routerLink]="['/game/',game.id]" class="text-decoration-none text-dark ">
<div class="card text-center" >
    <img [src]="game.background_image" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">{{game.name}}</h5>
      <p><i class="icofont-calendar text-danger"></i> Release Date:{{game.released | date :'mediumDate'}}</p>
    </div>
  </div>
</a>
</div>
</div>
<!-- pagination -->
<div class="row mt-4" >
  <div class="col text-start">
  <pagination-controls (pageChange)="p = $event"
  class='w-100 text-center pt-3'></pagination-controls>
  </div>
  </div>
  
</div>

