<div class="container-fluid bg-info pt-3 pb-3 text-center text-white text-uppercase"> <h1>Platforms</h1></div>
<div class="container pt-5 pb-5">
<div class="row">
<div class="col-md-3" *ngFor=" let platform of platformData">

  <a [routerLink]="['/games/platform',platform.id,platform.name]" class="text-decoration-none text-dark ">
<div class="card text-center" >
    <img [src]="platform.image_background" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">{{platform.name}}</h5>
    </div>
  </div>
</a>

</div>
</div>
</div>

